<h3>Add a Pet</h3>
<form id="add-pet-form">
  <div>
    <label for="pet-name">Name:</label>
    <input type="text" id="pet-name" name="name" required>
  </div>
  <div>
    <label for="pet-type">Type:</label>
    <input type="radio" id="pet-type" name="type" value="cat" required>
    <label for="pet-type">Cat</label>
    <input type="radio" id="pet-type" name="type" value="dog" required>
    <label for="pet-type">Dog</label>
  </div>
  <div>
    <label for="pet-breed">Breed:</label>
    <input type="text" id="pet-breed" name="breed">
  </div>
  <div>
    <label for="pet-birthdate">Birthdate:</label>
    <input type="date" id="pet-birthdate" name="birthdate">
  </div>
  <div>
    <label for="pet-weight">Weight:</label>
    <input type="text" id="pet-weight" name="weight" required>
  </div>
  <div>
    <label for="pet-gender">Gender:</label>
    <input type="text" id="pet-gender" name="gender" required>
  </div>
  <div>
    <label for="pet-altered">Altered:</label>
    <input type="checkbox" id="pet-altered" name="altered">
  </div>
  <div>
    <label for="pet-microchip">Microchip:</label>
    <input type="text" id="pet-microchip" name="microchip">
  </div>
  <div>
    <label for="pet-vaccinations">Vaccinations:</label>
    <input type="text" id="pet-vaccinations" name="vaccinations">
  </div>
  <div>
    <label for="pet-allergies">Allergies:</label>
    <input type="text" id="pet-allergies" name="allergies">
  </div>
  <button type="submit">Add Pet</button>
</form>
