{{!-- <div>Random Dog<img src="https://place.dog/300/200"></div> --}}

<section class="is-medium has-carousel">
  <!-- Start Carousel -->
  <div id="pet-carousel" class="carousel">
    <div class="item-1 image-container">
      <!-- Slide Content -->
      <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2016/11/05221853/Bulldog-puppy-getting-a-check-up-at-the-vet.jpeg">
    </div>
    <div class="item-2 image-container">
      <!-- Slide Content -->
      <img src="https://www.pumpkin.care/wp-content/uploads/2022/03/how-often-do-you-take-a-cat-to-the-vet-1.jpg">
    </div>
    <div class="item-3 image-container">
      <!-- Slide Content -->
      <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2018/06/11091858/jobs-working-with-animals-two-young-vet-techs-with-dog.png">
    </div>
    <div class="item-4 image-container">
      <!-- Slide Content -->
      <img src="https://www.freeportvet.com/sites/default/files/cat-veterinarian.jpg">
    </div>
    <div class="item-5 image-container">
      <!-- Slide Content -->
      <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2022/07/20085929/Dachshund-with-its-owner-getting-checked-by-a-veterinarian.jpg">
    </div>
    <div class="item-6 image-container">
      <!-- Slide Content -->
      <img src="https://www.pumpkin.care/wp-content/uploads/2022/04/kitten-getting-a-vaccine_how-often-should-i-take-cat-to-vet-1.jpg">
    </div>
    <div class="item-7 image-container">
      <!-- Slide Content -->
      <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2023/08/29160336/Chinese-Shar-Pei-puppy-being-hugged-by-a-vet.jpg">
    </div>
    <div class="item-8 image-container">
      <!-- Slide Content -->
      <img src="https://weareallaboutcats.com/wp-content/uploads/2020/07/The-Importance-of-Taking-Your-Cat-to-Your-Vet.jpg">
    </div>
  </div>
  <!-- End Carousel -->
</section>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script src="/js/homepage.js"></script>
