<section class="hero is-medium has-carousel">
  <!-- Start Carousel -->
  <div id="pet-carousel" class="hero-carousel">
    <div class="item-1">
      <!-- Slide Content -->
      <img src="https://place.dog/300/200">
    </div>
    <div class="item-2">
      <!-- Slide Content -->
      <img src="https://cataas.com/cat">
    </div>
    <div class="item-3">
      <!-- Slide Content -->
      <img src="https://place.dog/300/200">
    </div>
    <div class="item-4">
      <!-- Slide Content -->
      <img src="https://cataas.com/cat">
    </div>
    <div class="hero-head"></div>
    <div class="hero-body"></div>
    <div class="hero-foot"></div>
  </div>
  <!-- End Carousel -->
</section>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script src="/js/homepage.js"></script>