<div id="pets-template" type="text/x-handlebars-template">
    <h2 class = "petheader">Your Furry Family!</h2>
    {{> petTable Pets=pet pubkey=pubkey}}
  </div>
  <script src="/js/upload.js"></script>