    <div class="container mt-6">
        <div class="profile-info">
            <h2 class="title is-4 has-text-centered">{{name}}
            <p>Email: {{email}}</p>
            </h2>
        </div>
        <h3>Pets</h3>

        {{#each Pets}}
            <div class="pet-card-holder">
                <div class="pet-card">
                    <div class="pet-icon">
                        <img src="https://i.postimg.cc/QMgYLPLR/furfilepawcrop.png" width="50" height="50">
                    </div> 
                    <div class="pet-details">
                        <p class="pet-name">{{name}}</p>
                    </div>
                    <a href="/pets/{{id}}"> <!-- Link to pet profile -->
                        <button class="button is-light" id="petdetails">Details</button>
                    </a>
                </div>
            </div>
        {{/each}}
        </ul>
        <br>
        <br>
        <br>
        {{> addPetForm}}
    </div>

     <script src="/js/petform.js"></script>
