@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.petheader {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-width: 5px; 
    border-color: #EEEEEE;
    background-color: #70CFDB;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 25px;

}

.header {
    height: 50px;
    text-align: center;
    background-color: #70CFDB;
    margin-left: auto;
    margin-right: auto;
}

.card {
    flex: 1 0 100px;
    padding: 30px;
    text-align: center;
    
    border-width: 1px; 
    justify-content: space-between;
    

}

.table {
    color: #676767;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 5px;
    text-align: center;
}

.tbord{
    height: 50px;
    width: 100%;
    border-style: solid;
    background-color: #70CFDB; 
    font-size: 30px;
    border-width: 5px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
.tbord2{
    
    width: 100%;
    border-style: solid;
    background-color: #70CFDB; 
  
    border-width: 5px; 
}
body {
    background-color: #70CFDB;
    background-image: url('https://i.postimg.cc/FKTVmQRk/tppaw-1.png'); 
    background-repeat: repeat; 
    background-size: 200px 200px; 
    color: black;
  }
  
  .nav-link {
    color: #ffffff; 
  }
  
  .card {
    margin-top: 20px;
  }
  
  .card-header {
    background-color: #007bff; 
    color: #ffffff; 
  }
  
  .card-body {
    background-color: #e9ecef; 
  }
  
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #004085;
  }
  .form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #37312F;
    border-radius: 15px;
    background-color: #ECEEF0; 
}
.notification {
    background-color: #37312F;
    color: #37312F; 
}
.navbar, .footer {
    background-color: #DCDFE2; 
    color: #ECEEF0; 
  }
  
.button.is-custom {
    background-color: #70CFDB;
    border-color: #70CFDB;
    color: #FFFFFF;
}
.button.is-custom:hover {
    background-color: #5bb5c7;
    border-color: #5bb5c7;
}
.footer {
  color: black;
}