.petheader {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px; 
    border-color: #EEEEEE;
    background-color: #0c99BA; 

    

}

.header {
    height: 50px;
    text-align: center;
background-color: #0c99BA;
    margin-left: auto;
 margin-right: auto;
}
.background {
    background-color: #EEEEEE; 
}


.card {
    flex: 1 0 100px;
    padding: 30px;
    text-align: center;
    
    border-width: 1px; 
    justify-content: space-between;
    

}

.table {
    color: #676767;
    width: 100%;
 margin-left: auto;
 margin-right: auto;
 border-style: solid;
    border-color: #EEEEEE;
text-align: center;
}

.tbord{
    height: 50px;
    width: 100%;
    border-style: solid;
    background-color: #0c99BA; 
    font-size: 30px;
    border-width: 100px; 
}
.tbord2{
    
    width: 100%;
    border-style: solid;
    background-color: #0c99BA; 
  
    border-width: 100px; 
}
body {
    background-color: #f8f9fa; 
  }
  
  .navbar {
    background-color: #007bff; 
  }
  
  .navbar .nav-link {
    color: #ffffff; 
  }
  
  .card {
    margin-top: 20px;
  }
  
  .card-header {
    background-color: #007bff; 
    color: #ffffff; 
  }
  
  .card-body {
    background-color: #e9ecef; 
  }
  
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #004085;
  }
  .container {
    background-color: #eeeeee;
  }
